<!DOCTYPE html>
<html>
  <head>
    <title>TREVORNOTE</title>
    <%= csrf_meta_tags %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'pen' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.quilljs.com/1.2.6/quill.snow.css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
